<% provide :title, t("lesson.all_lesson") %>
<h1 class="text-center"><%= t "header.lesson" %></h1>
<table class="table">
  <thead>
    <th><%= t "lesson.category" %></th>
    <th><%= t "lesson.header_score" %></th>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= link_to lesson.category.name, lesson %></td>
        <td><%= lesson.count_answer %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
