<li>
  <span class="td-content">
    <%= activity_username %>
    <%= t "activity.#{activity.activity_type}" %>
    <%= activity_target activity.target, activity.target_id %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words activity.created_at %> <%= t :ago %>
  </span>
</li>
